@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("node_modules/@egjs/vue3-flicking/dist/flicking-inline.css"); */

body {
  background: #f4f6ff;
  font-family: "TT Norms";
  font-variant: no-common-ligatures;
  viewport-fit: cover;
  min-height: 100dvh;
}

input {
  font-variant: no-common-ligatures;
}

* {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: rgba(253, 197, 0, 0.2);
}

a.link {
  font-size: 14px;
  font-weight: 400;
  color: #1977f1;
}

a.link:hover {
  text-decoration: underline;
}

a.link:active {
  color: #145fc1;
}

.lheight-normal {
  line-height: normal;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.container {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 100%;
}

.custom-scrollbar::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  background: #99cbff;
  border-radius: 38px;
}

.custom-scrollbar::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  background: #e9efff;
}

@media screen and (min-width: 480px) {
  .container {
    padding: 0 20px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 32px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
